@font-face {
    font-family: Inter;
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}
:root{
    /* Colors */

    /* Primary */
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);

    /* Neutral */
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}
*, ::before, ::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: Inter, "sans-serif";
    padding: 3.8rem 6.5rem;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    width: 100%;
    display: block;
}
@media(max-width:885px){
    body{
        padding: 1.8rem;
    }
}
